footer {
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    background-color: black;
    // height:;
}
.footer {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    gap: 20px;
    font-size: 20px;
}
.footer-item {
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}
a:hover{
    color: greenyellow;
}