.hamburger {
    width: 100%;
    background-color: rgb(250, 125, 85);
    border: 2px solid rgb(160, 160, 163);
}

.icon {
    width: 45px;
    height: 45px;
    margin-right: 15px;
    margin-top: 15px;
}
.nav-bar-top {
    width: 100%;
    top: 0;
    margin-right: 30px;
    .nav-item {
        font-size: 22px;
        color: #ffd700;
        display: block;
        font-weight: 900;
        line-height: 51px;
        // position: relative;
        // margin-left: 1rem;

        i {
            transition: all 0.3s ease-out;
        }

        &:hover {
            color: #ebeae2;

            svg {
                opacity: 0;
            }

            &:after {
                opacity: 1;
            }
        }

        &:after {
            content: '';
            font-size: 9px;
            letter-spacing: 2px;
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: all 0.3 ease-out;
        }
    }

}