@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-color: rgb(8, 11, 55);
    min-height: 100%vh;
    overflow: auto;
    font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
    color: #b0b0b2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

h1 {
    font-size: 3.3em;
    font-weight: 500;
}
h2 {
    font-size: 2.5em;
    font-weight: 400;
}
h3 {
    font-size: 2em;
    font-weight: 300;
}
h4 {
    font-size: 1.75em;
    font-weight: 300;
}
p {
    font-size: 1.5em;
}

// General Styles
.card {
    @apply bg-slate-200 rounded overflow-hidden shadow-md p-5 text-gray-800 hover:bg-slate-300 border border-gray-300
}
.card2 {
    @apply bg-slate-200 rounded overflow-hidden shadow-md p-5 text-gray-800 
}
.btn {
    @apply rounded-full py-2 px-3 text-xs font-bold cursor-pointer tracking-wider border-2 border-gray-300
}

//AboutPage

.thinkingImg {
    width: 100%;
    height: auto;
}
.thinkImgWrapper {
    max-width: 500px
}

.route-container {
    min-height: 100vh;
    width: 100vw;
}
.hire-btn {
    width: 10rem;
    font-size: 1rem;
    font-weight: bold;
}
.hire-btn:hover {
    background-color: #ffd700;
    color:rgb(8, 11, 55);
}

.text-zone {
    margin: 0 auto;
    text-align: center;
    display: block;
}
.why-hire {
    width: 70%;
}


////Resume ////
.resume-container {
    max-width: 800px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}


///Projects /////
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.flipcard {
    background-color: transparent;
    width: 80%;
    perspective: 40rem;
}

.flipcardinner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipcard:hover .flipcardinner {
    transform: rotateY(180deg);
}

.flipcardfront,
.flipcardback {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flipcardfront {
    background-color: #bbb;
    color: black;
}

.flipcardback {
    background-color: rgb(66, 67, 71);
    color: white;
    transform: rotateY(180deg);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

////Contact
.contact-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;

}
.contact-form {
    list-style: none;
    display: flex;
    justify-content: center;
}
.contact-btn {
    margin: 30px auto;
    padding: 10px 30px;
    font-size: 1rem;
}
.contact-btn:hover {
    background-color: #ffd700;
    color:rgb(8, 11, 55);
}
.input{
    margin: 5px;
    width: 50%;
    height: 25px;
}



// Cube spinner I probably won't use
.cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);

    div {
        position: absolute;
        width: 50px;
        height: 50px;
        border: 1px solid #ccc;
        background: rgba(255, 255, 255, 0.4);
        text-align: center;
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px wheat;
        margin: 20px;
    }

    .face1 {
        transform: translateZ(100px)
    }

    .face2 {
        transform: rotateY(90deg) translateZ(100px)
    }

    .face3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px)
    }

    .face4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px)
    }

    .face5 {
        transform: rotateY(-90deg) rotteZ(90deg) translateZ(100px)
    }

    .face6 {
        transform: rotateY(-90deg) translateZ(100px)
    }
}


@keyframes spincube {

    from,
    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    16% {
        transform: rotateY(-90deg);
    }

    33% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }

    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }

    66% {
        transform: rotateY(-270deg) rotateZ(90deg);
    }

    83% {
        transform: rotateY(90deg);
    }
}

